/*=========== Search Tool ==========*/
#searchArea {
    top: 5px;
    left: 0px;
    position: fixed;
    z-index: 2;
}

#searchArea select {
    border: none;
    padding: none;
    border-radius: 5px;
    font-family: Consolas;
    color : #FFFFFF;
    background-color: #222222;
}
#searchArea select:hover {
    background-color: #444444;
    cursor: pointer;
}

#searchArea #inputS {
    border: none;
    padding: none;
    text-align: center;
    font-family: Consolas;
    color: #FFF;
    background-color: #222;
}
#searchArea #inputS:hover {background-color: #444;}

/*=========== Button ============*/
#searchArea button {
    border: none;
    padding: none;
    text-align: center;
    font-family: Consolas;
    color: #999;
    background-color: #111;
}

#searchArea button:hover {
    color: #111;
    background-color: #999;
    cursor: pointer;
}

#aboutBut {
    position: fixed;
    right: 5px;
    top: 5px;
}

/*=========== Image Grid ============*/
#imgArea {
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    background-color: #000;
    overflow-y: scroll;
}

#imgArea div {
    width: 24%;
    position: absolute;
}

#col1 {left : 0px;}
#col2 {left: 25%;}
#col3 {left: 50%;}
#col4 {left: 75%;}

#imgArea img {
    width: 100%;
    float: top;
    border: 2px solid #000;
	border-radius: 4px;
    transition-duration: 0.1s;
    opacity: 0.75;
}

#imgArea img:hover {
    border: 2px solid white;
    cursor: pointer;
    opacity: 1;
}

#imgArea a {
    z-index: 1;
    position: fixed;
    width: 30px;
    height: 30px;
    opacity: 0.35;
    border: none;
    border-radius: 5px;
    background-position: left top;
    background-size: 30px 30px;
    transition-duration: 0.3s;
}
#imgArea a:hover {
    transform: scale(1.45);
    opacity: 1;
    cursor: pointer;
}
#imgArea a:active {
    transition-duration: 0.1s;
    transform: scale(1);
}

#shareFb {background-image: url('https://png.icons8.com/color/50/000000/facebook.png');}
#shareTwitter {background-image: url('https://png.icons8.com/color/50/000000/twitter-squared.png');}
#shareLink {background-image: url('https://png.icons8.com/flat_round/50/000000/link.png');}

#imgArea a:active .tooltip {
    visibility: visible;
    transition-duration: opacity 2s;
}

.tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 14px;
    font-family: Consolas;
    
    position: absolute;
    z-index: 1;
    width: 80px;
    top: 100%;
    left: 50%; 
    margin-left: -60px;
}
/*=========== Background + ScrollBar ============*/
body {background-color: #000;}
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #444;}
::-webkit-scrollbar-thumb {background: #666;}
::-webkit-scrollbar-thumb:hover {background: #999;}
